In [1]:
%pylab inline
import numpy as np
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
import os
filenames=os.listdir("Trans")

In [3]:
bigData=pd.DataFrame()
for x in filenames:
    d=pd.read_csv("Trans/"+x)
    bigData = bigData.append(d, ignore_index=True)

In [4]:
bigData.to_csv("AllDataV2.csv")

In [14]:
bigData.describe()

,SummaryEng,SummaryUr,TextEng,TextUr
count,4386,4386,4386,4386
unique,4365,4365,4378,4378
top,This page includes the show Transcript and th...,اس صفحے میں شو ٹرانسکرپٹ اور ڈیلی نصاب شامل ہے...,JERUSALEM LRB CNN RRB German Chancellor Angela...,ایل آر بی سی این این آر آر بی شاعر ڈرامہ نگار ...
freq,8,8,2,2

In [15]:
bigData.head()

,SummaryEng,SummaryUr,TextEng,TextUr
0,Scandal actress Kerry Washington to star as A...,سکینڈل اداکارہ کیری واشنگٹن HBO فلم ہل میں انی...,LRB CNN RRB Kerry Washington is headed for HB...,ایل آر بی سی این این آر آر بی کیری واشنگٹن ایچ...
1,NEW Up to 123 others were wounded officials s...,123 افراد زخمی ہوئے ہیں,Moscow Russia LRB CNN RRB A car bomb exploded ...,ماسکو روس LRB CNN RRB روسی جمہوریہ شمالی اوسیت...
2,Disney will distribute DreamWorks live action...,ڈزنی ڈریم ورکس کی لائیو ایکشن فلمیں تقسیم کرے ...,LOS ANGELES California LRB CNN RRB Walt Disney...,لاس اینجلس کیلیفورنیا ایل آر بی سی این این آر ...
3,Attorney says Jack Klugman died at home with ...,اٹارنی کا کہنا ہے کہ جیک کلوگ مین اپنی بیوی کے...,LRB CNN RRB Jack Klugman best known as messy ...,ایل آر بی سی این این آر آر بی جیک کلوگ مین جو ...
4,NEW Fukushima plant not damaged by Saturday q...,نئے فوکوشیما پلانٹ کو ہفتہ کے زلزلے سے نقصان ن...,Tokyo LRB CNN RRB A 6 4 magnitude earthquake s...,امریکی جیولوجیکل سروے کے مطابق ٹوکیو LRB CNN R...

# DATA READING

In [2]:
data=pd.read_csv("AllDataV2.csv")

In [5]:
data.columns

Index(['Unnamed: 0', 'SummaryEng', 'SummaryUr', 'TextEng', 'TextUr'], dtype='object')

In [7]:
urduData=data.drop(columns=['SummaryEng','TextEng'])

In [9]:
urduData.describe()

         Unnamed: 0
count  19856.000000
mean    9927.500000
std     5732.077808
min        0.000000
25%     4963.750000
50%     9927.500000
75%    14891.250000
max    19855.000000

In [10]:
urduData.to_csv("UrduDataV2.csv")